*, *::before, *::after {
    margin: 0;
    padding: 0;
}

.ui {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 10rem;
    margin-top: 10rem;
}

/* The actual container */
.container {
    display: grid;
    border: solid black 1px;
    width: 960px;
    height: 960px;
    margin-bottom: 5rem;
}

/* Each individual square */
.square {
    
}

.color-square {
    background-color: black;
}