*, *::before, *::after {
    margin: 0;
    padding: 0;
}

/* The actual container */
.container {
    display: grid;
    grid-template-columns: repeat(16, 16px);
    border: solid black 1px;
    max-width: 256px;
    max-height: 256px;
}

/* Each individual square */
.square {
    height: 16px;
}

.color-square {
    background-color: black;
    height: 16px;
}